export FLASK_APP=flasky.py
export FLASK_DEBUG=1
export FLASK_CONFIG=development

export MAIL_SERVER=smtp.sendgrid.net
export FLASKY_ADMIN=mchangpi@gmail.com
export MAIL_USERNAME=
export MAIL_PASSWORD=

export DEV_DATABASE_URL=
export TEST_DATABASE_URL=
export DATABASE_URL=mysql+<drivername>://<username>:<password>@<server>:<port>/dbname
